/.vs/CompanyEmployeesSQL/v15/Server/sqlite3/storage.ide
/.vs/CompanyEmployeesSQL/v15/Server/sqlite3/storage.ide-shm
/.vs/CompanyEmployeesSQL/v15/Server/sqlite3/storage.ide-wal
/CompanyEmployeesSQL/bin/Debug/CompanyEmployeesSQL.pdb
/CompanyEmployeesSQL/obj/Debug/CompanyEmployeesSQL EF Elementary.csproj.FileListAbsolute.txt
/CompanyEmployeesSQL/obj/Debug/CompanyEmployeesSQL EF Elementary.csprojAssemblyReference.cache
/CompanyEmployeesSQL/obj/Debug/CompanyEmployeesSQL.exe
/CompanyEmployeesSQL/obj/Debug/CompanyEmployeesSQL.pdb
